body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #7CB9E8;
    font-family: "Roboto", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
}

a {
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
}

/* ------ Header ------ */
.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px; 
    box-shadow: 0 6px 7px -3px rgb(24, 24, 24);
}

.header-right:hover {
    background-color: #212121;
    cursor: pointer;
}

.menu-icon {
    display: none;
}

h2 {
    text-align: left;
}
/* ------ Sidebar ------ */
#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #252525;
    overflow-y: auto;
    transition: all 0.5x;
    -webkit-transition: all 0.5s;
}

.menu-icon:hover {
    cursor: pointer;
}

.material-icons-outlined:hover {
    cursor: pointer;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: #212121;
    cursor: pointer;
}

#active {
    background-color: #7CB9E8;
}

.sidebar-list-item a {
	color: white;
}


.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/* ------ Main Container ------ */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95)
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}

.card:first-child {
    background-color: #7CB9E8;
}

.card:nth-child(2) {
    background-color: #007FFF;
}

.card:nth-child(3) {
    background-color: #00b4d8;
}

.card:nth-child(4) {
    background-color: #0077b6;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > .material-icons-outlined {
    font-size: 45px;
}

h1 {
    font-size: 23px;

}

/* ----- CHARTS ----- */
.charts {
    gap: 20px;
    margin-top: 30px;
    color: black;
}

.charts-card {
    background-color: white;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -3px rgb(21,21,21);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-items: center;
    color: black;
}

/* ----- Button ----- */
button {
    text-align: center;
    width: 25%;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #7CB9E8;
    cursor: pointer;
}

a:visited, .sidebar-list-item:hover {
    background-color: #7CB9E8;
}

.pdf-button, .fetch-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Table ----- */
table, td {
    border: 3px solid #212121;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    box-shadow: 0 6px 7px -3px rgb(21,21,21);
}

th, td {
    color: #212121;
}

/* ----- Media Queries ----- */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
        "header"
        "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;

        .charts {
            grid-template-columns: 1fr;
            margin-top: 30px;
        }
    }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
    .card {
        display:none;
    }
}
