*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Times New Roman, sans-serif;
}

body{
	min-height: 100vh;
	background: white;
	display: flex;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	background: #f49131;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo{
	font-size: 32px;
	color: black;
	text-decoration: none;
	font-weight: 700;
}

.navbar a{
	font-size: 18px;
	color: black;
	font-weight: 500;
	text-decoration: none;
	margin-left: 40px;
}
	

.container{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 60px);
	gap: 200px;
}

.charts{
	padding: 1.5rem;
	border: 1px solid #f49131;
	border-radius: 1rem;
	background: black;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

